/*  your css code here. If applicable */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 200px;
  width: 200px;
  background-color: lightblue;
  border: 2px solid black;
  color: purple;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
